@import "../base/mixins.scss";
@import "../base/vars.scss";

.about {
  padding: 30px 0;
  position: relative;

  @media (min-width: $width_tablet) {
    padding: 66px 0;
  }

  @media (min-width: $width_desktop) {
    padding: 76px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 6px;
    background: #ffffff url("../img/bg-zigzag-line.svg") repeat-x 0 0;
    background-size: contain;

    @media (min-width: $width_tablet) {
      height: 15px;
    }

    @media (min-width: $width_desktop) {
      height: 23px;
    }
  }
}

.about__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    padding: $padding_medium;
  }

  @media (min-width: $width_desktop) {
    padding: 0 50px 0 225px;
  }
}

.about__title {
  margin: 0;
  font-weight: $font_weight_bold;

  @media (min-width: $width_tablet) {
    padding: 0 0 30px;
  }
}

.about__wrapper {
  @media (min-width: $width_tablet) {
    display: flex;
  }
}

.about__list {
  @include list;

  @media (min-width: $width_tablet) {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 90px 0 0;
  }

  @media (min-width: $width_desktop) {
    padding: 0 120px 0 0;
  }
}

.about__item {
  padding: 30px 0 0;
}

.about__caption {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-weight: $font_weight_bold;
}

.about__icon {
  & path {
    fill: $color_seafoam_blue;
  }
}
