@import "../base/mixins.scss";
@import "../base/vars.scss";

.about {
  padding: 34px 0;
  position: relative;

  @media (min-width: $width_tablet) {
    padding: 66px 0;
  }

  @media (min-width: $width_desktop) {
    padding: 76px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 6px;
    background: #ffffff url("../img/bg-zigzag-line.svg") repeat-x 0 0;
    background-size: contain;

    @media (min-width: $width_tablet) {
      height: 15px;
    }

    @media (min-width: $width_desktop) {
      height: 23px;
    }
  }
}

.about__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
  }
}

.about__title {
  @include heading_h2;

  margin: 0;

  @media (min-width: $width_tablet) {
    padding: 0 0 15px;
  }

  @media (min-width: $width_desktop) {
    padding: 0 0 15px 180px;
  }
}

.about__wrapper {
  @media (min-width: $width_tablet) {
    display: flex;
  }

  @media (min-width: $width_desktop) {
    padding: 0 0 0 180px;
  }
}

.about__list {
  @include list;

  @media (min-width: $width_tablet) {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  &--first {
    @media (min-width: $width_tablet) {
      padding: 0 100px 0 0;
    }
  }

  &--second {
    @media (min-width: $width_tablet) {
      padding: 0 40px 0 0;
    }
  }

  @media (min-width: $width_desktop) {
    flex-basis: 38%;
  }
}

.about__item {
  padding: 32px 0 0;

  &--money {
    @media (min-width: $width_tablet) {
      padding: 57px 0 0;
    }
  }

  &--heart {
    padding: 34px 0 0;

    @media (min-width: $width_tablet) {
      padding: 63px 0 0;
    }
  }

  &--rocket {
    @media (min-width: $width_tablet) {
      padding: 60px 0 0;
    }
  }

  &--gift {
    @media (min-width: $width_tablet) {
      padding: 60px 0 0;
    }
  }
}

.about__caption {
  @include indent_p;

  margin: 0;
  padding: 14px 0 0;
  font-size: $font_size_h3_mobile;
  line-height: $line_height_p_mobile_xxs;

  @media (min-width: $width_tablet) {
    padding: 20px 0 0;
    font-size: $font_size_h3_tablet;
    line-height: $line_height_p_tablet_s;
  }

  &--flower {
    max-width: 190px;

    @media (min-width: $width_tablet) {
      padding: 16px 0 0;
      max-width: 205px;
    }
  }

  &--money {
    max-width: 210px;
    padding: 21px 0 0;

    @media (min-width: $width_tablet) {
      max-width: 240px;
      padding: 24px 0 0;
    }
  }

  &--heart {
    padding: 18px 0 0;
    max-width: 190px;

    @media (min-width: $width_tablet) {
      max-width: 220px;
    }
  }

  &--ball {
    max-width: 210px;

    @media (min-width: $width_tablet) {
      padding: 14px 0 0;
      max-width: 250px;
    }
  }

  &--rocket {
    padding: 25px 0 0;
  }

  &--gift {
    max-width: 210px;

    @media (min-width: $width_tablet) {
      padding: 17px 0 0;
      max-width: 240px;
    }
  }
}

.about__icon {
  fill: $color_seafoam_blue;

  &--flower {
    margin: 0 0 0 8px;
  }

  &--heart {
    margin: 0 0 0 8px;
  }

  &--ball {
    margin: 0 0 0 4px;

    @media (min-width: $width_tablet) {
      margin: 4px 0 0 4px;
    }
  }

  &--rocket {
    margin: 0 0 0 -5px;
  }

  &--gift {
    margin: 0 0 0 4px;
  }
}
