@import "../base/mixins.scss";
@import "../base/vars.scss";

.about {
  padding: 0 0 30px 0;
}

.about__inner {
  @include inner;
}

.about__title {
  font-weight: $font_weight_bold;
}

.about__list {
  @include list;
}

.about__caption {
  margin: 0;
  padding: 80px 0 0;
  font-weight: $font_weight_bold;
}
