@import "../base/mixins.scss";
@import "../base/vars.scss";

.btn {
  @include btn();

  &--write {
    margin: 0 auto;
    width: 260px;
  }

  &--play {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 101px;
    height: 77px;
    border: none;
    background: transparent url("../img/icon-play.svg") no-repeat 0 0;
  }

  &--order {
    margin: 0 auto;
    width: 192px;
  }
}
