@import "../base/mixins.scss";
@import "../base/vars.scss";

.btn {
  @include btn();

  &--buy {
    line-height: 1.18;
  }

  &--write {
    font-size: 2rem;
    line-height: 1.11;
  }

  &--play {
    width: 101px;
    height: 77px;
    border: none;
    background: transparent url("../img/icon-play.svg") no-repeat 0 0;
  }

  &--order {
    margin: 0 auto;
    width: 192px;
  }
}
