@import "../base/mixins.scss";
@import "../base/vars.scss";

.card__title {
  padding: 0 0 0 30px;
  line-height: 1.41;
  color: $dark;
}

.card__caption {
  padding: 0 0 0 30px;
  font-weight: $font_weight_normal;
  color: $greyish-brown;
}

.card__price {
  padding: 0 0 0 30px;
  line-height: 1.6;
}

.card__button {
  width: 20px;
  height: 19px;
  border: none;
  opacity: 0.2;
  background: $white url("../../img/icon-cart.svg") no-repeat 50% 50%;
}
