@import "../base/mixins.scss";
@import "../base/vars.scss";

.catalog {
  margin: 30px;
}

.catalog__inner {
  @include inner();
}

.catalog__title {
  width: 320px;
  margin: auto auto 30px auto;
  padding: 76px 10px;
  line-height: 1.11;
  text-align: center;
  background: $seashell;
}

.catalog__item {
  padding: $padding_base;
}
