@import "../base/mixins.scss";
@import "../base/vars.scss";

.catalog__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    position: relative;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
  }

  &::before {
    @media (min-width: $width_tablet) {
      content: "";
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
    }
  }
}

.catalog__wrapper {
  @media (min-width: $width_desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__title {
  margin: 0;
  padding: 75px 0;
  text-align: center;
  background: $color_gray_lightest;

  @media (min-width: $width_tablet) {
    padding: 190px 0 60px;
  }
}

.catalog__item {
  margin: 30px 0 0;
  border: 1px solid $color_gray_lighten;

  @media (min-width: $width_tablet) {
    margin: 0 0 53px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $width_desktop) {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 316px;
  }
}
