@import "../base/mixins.scss";
@import "../base/vars.scss";

.contacts__inner {
  @include inner();
}

.contacts__title {
  font-size: 2rem;
  line-height: 1.67;
}

.contacts__list {
  @include list();

  line-height: 2;
  font-weight: $font_weight_normal;
  color: $greyish_brown;
}

.contacts__link {
  &--email {
    color: $greyish-brown;
  }
}

.contacts__map {
  border: none;
}
