@import "../base/mixins.scss";
@import "../base/vars.scss";

.contacts {
  padding: 40px 0;
}

.contacts__inner {
  @include inner();
}

.contacts__title {
  line-height: 1.67;
}

.contacts__list {
  @include list();

  line-height: 2;
  font-weight: $font_weight_normal;
  color: $greyish_brown;
}

.contacts__link {
  display: block;

  &--email {
    color: $greyish-brown;
  }
}

.contacts__map {
  margin: 0 0 39px 0;
  border: none;
}
