@import "../base/mixins.scss";
@import "../base/vars.scss";

.feedback {
  margin: 0 0 43px;
  padding: 16px 0 0;
}

.feedback__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: $color_white url("../img/review@1x.jpg") no-repeat 0 0;
    background-size: contain;
  }

  @media (min-width: $width_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: $color_white url("../img/review@2x.jpg") no-repeat 0 0;
    background-size: contain;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
    background-position: 46px 0;
  }

  @media (min-width: $width_desktop) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-position: 46px 0;
  }
}

.feedback__title {
  @include heading_h2;

  margin: 0;
  padding: 0 0 24px;

  @media (min-width: $width_tablet) {
    padding: 39px 0 0;
    order: 1;
  }

  @media (min-width: $width_desktop) {
    padding: 60px 0 25px 180px;
  }
}

.feedback__text {
  @include indent_p;

  margin: 0;
  padding: 0 0 27px;
  line-height: $line_height_p_mobile_xl;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    padding: 21px 0;
    order: 3;
  }

  @media (min-width: $width_desktop) {
    padding: 20px 80px 20px 180px;
  }
}

.feedback__autor {
  @include indent_p;

  margin: 0 0 37px;
  font-size: $font_size_h3_mobile;
  line-height: $line_height_h3_mobile;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    margin: 0;
    padding: 40px 0 50px;
    flex-basis: 50%;
    font-size: $font_size_h3_mobile_l;
    line-height: $line_height_p_mobile_xxxs;
    order: 4;
  }

  @media (min-width: $width_desktop) {
    padding: 20px 0 100px 180px;
    font-size: $font_size_h3_mobile;
    line-height: $line_height_h3_mobile;
  }
}

.feedback__name {
  font-weight: $font_weight_bold;
  color: $color_black;
  line-height: $line_height_p_mobile;
}

.feedback__list {
  @include list;
  padding: 0 0 38px 0;
  display: flex;
  justify-content: center;

  @media (min-width: $width_tablet) {
    padding: 0 4px 5px 0;
    order: 5;
  }

  @media (min-width: $width_desktop) {
    padding: 0 9px 68px 0;
    order: 5;
  }
}

.feedback__prev {
  min-width: 130px;
  min-height: 52px;
  border: 1px solid $color_gray_lighten;
  background: $color_white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width_tablet) {
    min-width: 85px;
    border: none;
  }
}

.feedback__next {
  min-width: 130px;
  min-height: 52px;
  border: 1px solid $color_gray_lighten;
  background: $color_white;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width_tablet) {
    min-width: 85px;
    border: none;
  }
}

.feedback__button {
  @media (min-width: $width_tablet) {
    margin: 0 0 53px;
  }
}
