@import "../base/mixins.scss";
@import "../base/vars.scss";

.feedback__inner {
  @include inner();
}

.feedback__title {
  font-size: 2.8rem;
  line-height: 1.2;
}

.feedback__text {
  font-size: 1.7rem;
  line-height: 2;
  font-weight: $font_weight_normal;
}

.feedback__autor {
  font-size: 1.9rem;
  line-height: 1.76;
  font-weight: $font_weight_normal;
  color: $greyish_brown;

  &--name {
    line-height: 1.41;
    font-weight: $font_weight_bold;
    color: $dark;
  }
}

.feedback__btn {
  @include btn();
}

.feedback__list {
  @include list();
}
