@import "../base/mixins.scss";
@import "../base/vars.scss";

.field--bg {
  @media (min-width: $width_tablet) {
    background: $color_gray_lightest;
  }
}

.field__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    display: flex;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
  }
}

.field__legend {
  margin: 0;
  position: relative;
  font-size: $font_size_h3_mobile;
  line-height: $line_height_p_mobile_s;
  color: $color_seafoam_blue;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    min-width: 25%;
    flex-basis: 25%;
  }

  @media (min-width: $width_desktop) {
    width: 17%;
    min-width: 17%;
    flex-basis: auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 61px;
    width: 198px;
    height: 1px;
    background: $color_seafoam_blue;

    @media (min-width: $width_tablet) {
      display: none;
    }
  }

  &--radio {
    @media (min-width: $width_tablet) {
      padding: 18px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 17px 0 0 70px;
    }
  }

  &--checkbox {
    @media (min-width: $width_tablet) {
      padding: 67px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 65px 0 0 66px;
    }
  }

  &--user {
    @media (min-width: $width_tablet) {
      padding: 68px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 65px 0 0 65px;
    }
  }

  &--phone {
    @media (min-width: $width_tablet) {
      padding: 67px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 66px 0 0 66px;
    }
  }

  &--letter {
    &::after {
      left: 81px;
      width: 179px;
    }

    @media (min-width: $width_tablet) {
      padding: 24px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 26px 0 0 66px;
    }
  }

  &--more {
    @media (min-width: $width_tablet) {
      padding: 67px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 66px 0 0 68px;
    }
  }
}

.field__list {
  @include list;

  padding: 26px 0 0;

  @media (min-width: $width_tablet) {
    flex-basis: 75%;
  }

  @media (min-width: $width_desktop) {
    flex-basis: 83%;
  }

  &--radio {
    @media (min-width: $width_tablet) {
      padding: 0 0 27px;
    }
  }

  &--checkbox {
    @media (min-width: $width_tablet) {
      padding: 50px 0 25px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--user {
    padding: 29px 0 0;

    @media (min-width: $width_tablet) {
      padding: 46px 0 36px;
    }

    @media (min-width: $width_desktop) {
      padding: 46px 180px 35px 0;
    }
  }

  &--phone {
    padding: 5px 0 0;

    @media (min-width: $width_tablet) {
      padding: 43px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 42px 180px 0 0;
    }
  }

  &--letter {
    padding: 5px 0 0;

    @media (min-width: $width_tablet) {
      padding: 0 0 50px;
    }

    @media (min-width: $width_desktop) {
      padding: 0 180px 50px 0;
    }
  }

  &--more {
    @media (min-width: $width_tablet) {
      padding: 50px 0 0;
    }

    @media (min-width: $width_desktop) {
      padding: 50px 180px 0 0;
    }
  }
}

.field__item {
  &--radio {
    padding: 0 0 14px;

    @media (min-width: $width_tablet) {
      padding: 0 0 23px;
    }
  }

  &--checkbox {
    padding: 0 0 21px;

    @media (min-width: $width_tablet) {
      flex-basis: 45%;
      padding: 0 0 23px;
    }

    &:nth-child(odd) {
      margin: 0 37px 0 0;

      @media (min-width: $width_desktop) {
        margin: 0;
      }
    }

    @media (min-width: $width_desktop) {
      flex-basis: 30%;
    }
  }

  &--user {
    padding: 0 0 20px;

    @media (min-width: $width_tablet) {
      padding: 0 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &:last-child {
      @media (min-width: $width_tablet) {
        padding: 0;
      }
    }
  }

  &--phone {
    padding: 0 0 15px;
    position: relative;

    @media (min-width: $width_tablet) {
      padding: 0 0 17px;
    }
  }

  &--letter {
    padding: 0 0 15px;
    position: relative;

    @media (min-width: $width_tablet) {
      padding: 0;
    }
  }
}

.field__label {
  min-height: 40px;
  position: relative;
  display: block;
  font-size: $font_size_h3_mobile;
  line-height: 1.06;
  cursor: pointer;

  @media (min-width: $width_tablet) {
    min-height: 53px;
    font-size: $font_size_h3_mobile_xl;
    line-height: $line_height_p_mobile_s;
  }

  &--radio {
    padding: 10px 0 10px 60px;

    @media (min-width: $width_tablet) {
      padding: 15px 0 10px 80px;
    }
  }

  &--first {
    padding: 10px 0 0 60px;

    @media (min-width: $width_tablet) {
      padding: 15px 0 10px 80px;
    }
  }

  &--checkbox {
    padding: 10px 0 10px 60px;

    @media (min-width: $width_tablet) {
      padding: 14px 0 10px 80px;
    }
  }

  &--user {
    min-height: auto;

    @media (min-width: $width_tablet) {
      padding: 0 25px 0 0;
      min-height: 52px;
    }
  }

  &--phone {
    position: absolute;
    top: 14px;
    right: 9px;
    width: 24px;
    height: 24px;

    @media (min-width: $width_tablet) {
      top: 18px;
      right: 28px;
    }

    @media (min-width: $width_desktop) {
      right: 9px;
    }
  }

  &--letter {
    position: absolute;
    top: 14px;
    right: 3px;
    width: 32px;
    height: 32px;

    @media (min-width: $width_tablet) {
      top: 18px;
      right: 22px;
    }

    @media (min-width: $width_desktop) {
      right: 3px;
    }
  }
}

.field__input {
  width: 100%;
  margin: 0;
  padding: 18px 0;

  font-size: $font_size_h3_mobile;
  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  line-height: 1.06;

  border: none;
  border-bottom: 2px solid $color_black;
  outline: none;

  @media (min-width: $width_tablet) {
    font-size: $font_size_h3_mobile_xl;
    line-height: $line_height_p_mobile_s;
  }

  &--radio + .field__label--radio::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $color_greyish_brown;
    border-radius: 50%;

    @media (min-width: $width_tablet) {
      width: 52px;
      height: 53px;
    }
  }

  &--radio:checked + .field__label--radio::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: $color_seafoam_blue;
    border-radius: 50%;

    @media (min-width: $width_tablet) {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  &--radio:hover + .field__label--radio::before {
    content: "";
    border: 2px solid $color_seafoam_blue;
  }

  &--radio:checked:not(:hover) + .field__label--radio::before {
    content: "";
    border: 2px solid $color_greyish_brown;
  }

  &--radio:focus + .field__label--radio::before {
    content: "";
    border: 2px solid $color_seafoam_blue;
  }

  &--radio:active + .field__label--radio::before {
    content: "";
    border: 2px solid $color_greyish_brown_30;
  }

  &--checkbox + .field__label--checkbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $color_greyish_brown;

    @media (min-width: $width_tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &--checkbox:checked + .field__label--checkbox::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 10px;
    width: 21px;
    height: 11px;

    border-bottom: 2px solid $color_greyish_brown;
    border-left: 2px solid $color_greyish_brown;
    transform: rotate(-45deg);

    @media (min-width: $width_tablet) {
      top: 9px;
      left: 14px;
      width: 29px;
      height: 18px;
    }
  }

  &--checkbox:hover + .field__label--checkbox::before {
    content: "";
    border: 2px solid $color_seafoam_blue;
  }


  &--checkbox:checked:not(:hover) + .field__label--checkbox::before {
    content: "";
    border: 2px solid $color_greyish_brown;
  }

  &--checkbox:not(:checked):not(:hover) + .field__label--checkbox::before {
    content: "";
    border: 2px solid $color_greyish_brown;
  }

  &--checkbox:focus + .field__label--checkbox::before {
    content: "";
    border: 2px solid $color_seafoam_blue;
  }

  &--checkbox:active + .field__label--checkbox::before {
    content: "";
    border: 2px solid $color_greyish_brown_30;
  }

  &--checkbox:disabled + .field__label--checkbox,
  &--checkbox:disabled + .field__label--checkbox::after,
  &--checkbox:disabled + .field__label--checkbox::before,
  &--checkbox:checked:disabled + .field__label--checkbox::before {
    content: "";
    cursor: default;
    opacity: 0.3;
  }

  &[type="text"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="tel"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="email"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="text"] {
    padding: 17px 0;

    @media (min-width: $width_tablet) {
      padding: 15px 0 15px 18px;
    }

    @media (min-width: $width_desktop) {
      padding: 15px 0 12px 18px;
    }

    &:hover {
      border-bottom: 2px solid $color_seafoam_blue;
    }

    &:active {
      &::placeholder {
        color: $color_greyish_brown;
      }
    }

    &:focus {
      &::placeholder {
        color: $color_greyish_brown;
      }
      border-bottom: 2px solid $color_seafoam_blue;
    }
  }

  &[type="tel"] {
    padding: 18px 0;

    @media (min-width: $width_tablet) {
      padding: 18px 27px 13px 18px;
      background: $color_gray_lightest;
    }

    &:hover {
      border-bottom: 2px solid $color_seafoam_blue;
    }

    &:hover + .field__label > .field__icon {
      opacity: 1;
      fill: $color_seafoam_blue;
    }

    &:active {
      &::placeholder {
        color: $color_greyish_brown;
      }
    }

    &:focus {
      &::placeholder {
        color: $color_greyish_brown;
      }
      border-bottom: 2px solid $color_seafoam_blue;
    }

    &:focus + .field__label > .field__icon {
      opacity: 1;
      fill: $color_seafoam_blue;
    }
  }

  &[type="email"] {
    padding: 18px 0;

    @media (min-width: $width_tablet) {
      padding: 18px 35px 13px 18px;
      background: $color_gray_lightest;
    }

    &:hover {
      border-bottom: 2px solid $color_seafoam_blue;
    }

    &:hover + .field__label > .field__icon {
      opacity: 1;
      fill: $color_seafoam_blue;
    }

    &:active {
      &::placeholder {
        color: $color_greyish_brown;
      }
    }

    &:focus {
      &::placeholder {
        color: $color_greyish_brown;
      }
      border-bottom: 2px solid $color_seafoam_blue;
    }

    &:focus + .field__label > .field__icon {
      opacity: 1;
      fill: $color_seafoam_blue;
    }
  }
}

.field__textarea {
  width: 100%;
  min-height: 142px;
  padding: 15px 70px 0 14px;

  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  font-size: $font_size_h3_mobile;
  line-height: 1.06;

  border: solid 2px $color_greyish_brown;
  resize: none;
  outline: none;

  @media (min-width: $width_tablet) {
    padding: 13px 70px 0 14px;
    font-size: $font_size_h3_mobile_xl;
    line-height: $line_height_p_mobile_s;
  }

  &:hover {
    border: solid 2px $color_seafoam_blue;
  }

  &:active {
    &::placeholder {
      color: $color_greyish_brown;
    }
  }

  &:focus {
    &::placeholder {
      color: $color_greyish_brown;
    }
    border: solid 2px $color_seafoam_blue;
  }

  &::placeholder {
    color: $color_greyish_brown_30;
  }
}

.field__icon {
  opacity: 0.2;
}
