@import "../base/mixins.scss";
@import "../base/vars.scss";

.field__list {
  @include list;

  padding: 25px 0 0;

  @media (min-width: $width_tablet) {
    padding: 0;
  }

  @media (min-width: $width_tablet) {
    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.field__item {
  padding: 0 0 25px;

  @media (min-width: $width_tablet) {
    padding: 0 0 50px;
  }

  @media (min-width: $width_tablet) {
    &--color {
      flex-basis: 50%;
      padding: 0 0 60px;
    }
  }

  @media (min-width: $width_desktop) {
    &--color {
      flex-basis: 33%;
      padding: 0 0 60px;
    }
  }

  @media (min-width: $width_tablet) {
    &--user {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.field__legend {
  font-size: $font_size_h3_mobile;
  line-height: 0.94;
  color: $color_seafoam_blue;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.field__label {
  font-size: $font_size_h3_mobile;
  line-height: 1.06;

  @media (min-width: $width_tablet) {
    padding: 0 25px 0 0;
  }
}

.field__input {
  width: 100%;
  margin: 0;
  padding: 18px 0;

  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  font-size: $font_size_h3_mobile;
  line-height: 1.06;

  border: none;
  box-shadow: inset 0 -2px 0 0 $color_black;

  &[type="text"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="tel"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="email"]::placeholder {
    color: $color_greyish_brown_30;
  }
}

.field__textarea {
  width: 100%;
  min-height: 142px;
  padding: 18px 70px 0 17px;

  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  font-size: $font_size_h3_mobile;
  line-height: 1.06;

  border: solid 2px $color_greyish_brown;
  resize: none;

  &::placeholder {
    color: $color_greyish_brown_30;
  }
}
