@import "../base/mixins.scss";
@import "../base/vars.scss";

.field--bg {
  @media (min-width: $width_tablet) {
    background: $color_gray_lightest;
  }
}

.field__list {
  @include list;

  padding: 25px 0 0;

  @media (min-width: $width_tablet) {
    padding: 0;
  }

  &--color {
    @media (min-width: $width_tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.field__item {
  @media (min-width: $width_tablet) {
    padding: 0 0 23px;
  }

  &--radio {
    padding: 0 0 20px;
  }

  &--checkbox {
    padding: 0 0 20px;

    @media (min-width: $width_tablet) {
      flex-basis: 50%;
      padding: 0 0 60px;
    }

    @media (min-width: $width_desktop) {
      flex-basis: 33%;
      padding: 0 0 60px;
    }
  }

  &--user {
    @media (min-width: $width_tablet) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}

.field__legend {
  position: relative;
  font-size: $font_size_h3_mobile;
  color: $color_seafoam_blue;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 60px;
    width: 198px;
    height: 1px;
    background: $color_seafoam_blue;

    @media (min-width: $width_tablet) {
      display: none;
    }
  }
}

.field__label {
  min-height: 40px;
  font-size: $font_size_h3_mobile;
  position: relative;
  display: block;

  @media (min-width: $width_tablet) {
    min-height: 53px;
  }

  &--radio {
    padding: 10px 0 10px 60px;

    @media (min-width: $width_tablet) {
      padding: 10px 0 10px 80px;
    }
  }

  &--first {
    padding: 0 0 0 60px;
  }

  &--checkbox {
    padding: 10px 0 10px 60px;

    @media (min-width: $width_tablet) {
      padding: 10px 0 10px 80px;
    }
  }
}

.field__input {
  width: 100%;
  margin: 0;
  padding: 18px 0;

  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  font-size: $font_size_h3_mobile;

  border: none;
  border-bottom: 2px solid $color_black;

  &--radio + .field__label--radio::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $color_greyish_brown;
    border-radius: 50%;

    @media (min-width: $width_tablet) {
      width: 52px;
      height: 53px;
    }
  }

  &--radio:checked + .field__label--radio::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background: $color_seafoam_blue;
    border-radius: 50%;

    @media (min-width: $width_tablet) {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  &--checkbox + .field__label--checkbox::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $color_greyish_brown;

    @media (min-width: $width_tablet) {
      width: 54px;
      height: 52px;
    }
  }

  &--checkbox:checked + .field__label--checkbox::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 10px;
    width: 21px;
    height: 11px;

    border-bottom: 2px solid $color_greyish_brown;
    border-left: 2px solid $color_greyish_brown;
    transform: rotate(-45deg);

    @media (min-width: $width_tablet) {
      top: 9px;
      left: 14px;
      width: 29px;
      height: 18px;
    }
  }

  &[type="text"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="tel"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="email"]::placeholder {
    color: $color_greyish_brown_30;
  }

  &[type="tel"] {
    @media (min-width: $width_tablet) {
      background: $color_gray_lightest;
    }
  }

  &[type="email"] {
    @media (min-width: $width_tablet) {
      background: $color_gray_lightest;
    }
  }
}

.field__textarea {
  width: 100%;
  min-height: 142px;
  padding: 18px 70px 0 17px;

  font-family: $font_family_base, $font_family_extra;
  font-weight: $font_weight_normal;
  font-size: $font_size_h3_mobile;
  line-height: 1.06;

  border: solid 2px $color_greyish_brown;
  resize: none;

  &::placeholder {
    color: $color_greyish_brown_30;
  }
}
