@import "../base/mixins.scss";
@import "../base/vars.scss";

.footer {
  background: $color_gray_lightest;
}

.footer__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    min-height: 143px;
    padding: $padding_medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $width_tablet) {
    display: block;
  }
}

.footer__list {
  @include list;

  border-bottom: 1px solid $color_gray_lighten;

  @media (min-width: $width_tablet) {
    border-bottom: none;
  }
}

.footer__copyright {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width_tablet) {
    padding: 0;
  }

  @media (min-width: $width_desktop) {
    padding: 0 5px 0 0;
  }
}

.footer__text {
  margin: 0;
  padding: 0 30px 0 0;
  font-size: $font_size_h3_mobile_xl;
  line-height: $line_height_p_mobile_s;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $width_tablet) {
    padding: 0 30px 0 0;
  }
}

.footer__icon {
  fill: $color_seafoam_blue;
  margin: 5px 0 0;

  @media (min-width: $width_tablet) {
    margin: 9px 0 0;
  }

  @media (min-width: $width_desktop) {
    margin: 10px 0 0;
  }

  &:hover {
    fill: $color_greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}
