@import "../base/mixins.scss";
@import "../base/vars.scss";

.footer__inner {
  @include inner;

  background: $seashell;
}

.footer__social {
  padding: 25px 60px;
}

.footer__copyright {
  padding: 25px 40px;
}

.footer__list,
.footer__copyright {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  @include list;
}

.footer__text {
  margin: 0;
  text-align: left;
}
