@import "../base/mixins.scss";
@import "../base/vars.scss";

.form__field {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 30px;
  border: none;
}

.form__text {
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;
}
