@import "../base/mixins.scss";
@import "../base/vars.scss";

.form {
  padding: 25px 0 55px;

  @media (min-width: $width_tablet) {
    padding: 50px 0;
  }
}

.form__field {
  margin: 0;
  padding: 0;
  border: none;
}

.form__text {
  @include indent_p;

  margin: 0;
  padding: 15px 0 30px;
  font-size: $font_size_p_mobile_xs;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    padding: 0;
    order: 2;
  }

  @media (min-width: $width_desktop) {
    padding: 0 180px 0 0;
  }
}

.form__inner {
  @include inner;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    padding: 50px 50px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: 50px 45px 0;
  }
}

.form__button {
  cursor: pointer;
}
