@import "../base/mixins.scss";
@import "../base/vars.scss";

.header {
  @media (min-width: $width_tablet) {
    position: fixed;
    top: 0;
    background: $color_white;
  }
}

.header__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $width_tablet) {
    padding: $padding_medium;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.header__logo {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width_tablet) {
    justify-content: flex-start;
    min-height: 88px;
  }

  @media (min-width: $width_desktop) {
    order: 2;
    margin: 0;
  }
}

.header__list {
  @include list;

  &--desktop {
    display: none;
  }

  @media (min-width: $width_tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $width_tablet) {
    &--site {
      flex-basis: 50%;
      order: 3;
    }
  }

  @media (min-width: $width_desktop) {
    &--site {
      flex-basis: 33%;
      order: 1;
    }
  }

  @media (min-width: $width_tablet) {
    &--user {
      order: 2;
    }
  }

  @media (min-width: $width_desktop) {
    &--user {
      order: 3;
    }
  }

  @media (min-width: $width_tablet) {
    &--desktop {
      order: 4;
    }
  }

  @media (min-width: $width_desktop) {
    &--desktop {
      flex-basis: 100%;
    }
  }
}

.header__item {
  min-height: 79px;
  padding: 30px 30px 30px;
  line-height: $line_height_h3_mobile;
  font-size: $font_size_h3_mobile;
  box-shadow: 0 1px 0 0 $color_gray_lighten, inset 0 1px 0 0 $color_gray_lighten;

  @media (min-width: $width_tablet) {
    min-height: 88px;
    padding: 30px 0;
    box-shadow: none;
  }

  @media (min-width: $width_tablet) {
    &--catalog {
      padding: 20px 0;
    }
  }

  @media (min-width: $width_desktop) {
    &--catalog {
      padding: 30px 0;
    }
  }

  @media (min-width: $width_tablet) {
    &--form {
      padding: 20px 0;
    }
  }

  @media (min-width: $width_desktop) {
    &--form {
      padding: 30px 0;
    }
  }

  @media (min-width: $width_tablet) {
    &--delivery {
      padding: 20px 0;
      font-weight: $font_weight_normal;
    }
  }

  @media (min-width: $width_tablet) {
    &--supplies {
      display: none;
    }
  }

  @media (min-width: $width_desktop) {
    &--supplies {
      padding: 20px 0;
      display: block;
    }
  }

  @media (min-width: $width_tablet) {
    &--sale {
      display: none;
    }
  }

  @media (min-width: $width_desktop) {
    &--sale {
      padding: 20px 0;
      display: block;
    }
  }
}

.header__label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 18px;
    height: 18px;

    background: transparent url("../img/icon-search.svg") no-repeat 0 0;
    opacity: 0.2;
  }
}

.header__input {
  padding: 0 0 0 40px;
  border: none;

  &[type="text"]::placeholder {
    color: $color_black;
    font-size: $font_size_h3_mobile;
    line-height: $line_height_h3_mobile;
    font-weight: $font_weight_bold;
  }
}

.header__link {
  padding: 0 0 0 40px;
  display: block;
  color: $color_black;

  @media (min-width: $width_tablet) {
    padding: 0;
  }

  @media (min-width: $width_tablet) {
    &--indent {
      padding: 0 0 0 50px;
    }
  }
}

