@import "../base/mixins.scss";
@import "../base/vars.scss";

.logo__link {
  display: block;

  @media (min-width: $width_tablet) {
    margin: 3px 0 0;
  }

  @media (min-width: $width_desktop) {
    margin: 2px 21px 0 9px;
  }
}

.logo__img {
  @media (min-width: $width_tablet) {
    width: 112px;
    height: auto;
  }

  @media (min-width: $width_desktop) {
    width: 149px;
    height: auto;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__icon {
  @media (min-width: $width_tablet) {
    margin: 0 0 9px 0;
    width: 102px;
    height: auto;
  }

  &:hover {
    fill: $color_greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}
