@import "../base/mixins.scss";
@import "../base/vars.scss";

.logo {
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width_tablet) {
    justify-content: flex-start;
    margin-right: auto;
  }
}

.logo__link {
  display: block;

  @media (min-width: $width_tablet) {
    width: 112px;
    height: 46px;
    background: $white url("../img/logo-tablet.svg") no-repeat 50% 0;

    & .logo__img {
      opacity: 0;
    }
  }
}
