@import "../base/mixins.scss";
@import "../base/vars.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  max-width: 320px;
  display: none;
  transform: translateX(-50%) translateY(-50%);
  background: $color_white;
  box-shadow: 0 5px 10px 0 $color_black_lighten_25;
  border: solid 1px $color_gray_light;
  opacity: 0.9;

  @media (min-width: $width_tablet) {
    min-width: 570px;
  }
}

@keyframes departure {
  0% {
    transform: translateX(-200%) translateY(-50%);
  }

  70% {
    transform: translateX(-30%) translateY(-50%);
  }

  90% {
    transform: translateX(-70%) translateY(-50%);
  }

  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

.modal-open {
  display: block;
  transition: ease-out;
  animation-name: departure;
  animation-duration: 0.7s;
  will-change: transform;
}

.modal__inner {
  padding: 20px 30px 50px;

  @media (min-width: $width_tablet) {
    display: block;
    padding: 35px 107px 46px;
  }
}

.modal__title {
  @include heading_h2;

  max-width: 150px;
  margin: 0 auto;
  padding: 0 0 15px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    max-width: none;
    font-size: 30px;
    line-height: 1.9;
  }
}

.modal__legend {
  margin: 0 auto;
  padding: 0 0 20px;
  font-size: $font_size_p_mobile;
  font-weight: $font_weight_normal;
  line-height: $line_height_p_mobile_xl;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    font-size: $font_size_h3_mobile;
    line-height: 1.76;
  }
}

.modal__list {
  @include list;

  padding: 0 0 30px;

  display: flex;
  justify-content: space-between;
}

.modal__label {
  min-width: 82px;
  padding: 16px 0;
  display: inline-block;
  font-size: $font_size_h3_mobile;
  line-height: $line_height_p_mobile_s;
  text-align: center;
  text-transform: uppercase;
  color: $color_greyish_brown;
  border: 2px solid $color_greyish_brown_10;
  cursor: pointer;

  @media (min-width: $width_tablet) {
    min-width: 112px;
  }
}

.modal__input:checked + .modal__label {
  border: 2px solid $color_seafoam_blue;
}
