@import "../base/mixins.scss";
@import "../base/vars.scss";

.offers__inner {
  @include inner;

  margin: 0 0 30px;
  position: relative;

  @media (min-width: $width_tablet) {
    padding: $padding_medium;
    position: relative;
    margin: 0 0 50px;
  }

  @media (min-width: $width_tablet) {
    &::after {
      content: "Товар недели";
      position: absolute;
      top: 10px;
      right: 80px;
      width: 70px;
      font-size: $font_size_p_tablet;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      color: $color_seafoam_blue;
    }
  }
}

.offers__title {
  margin: 0;
  padding: 0 0 40px;
  position: relative;

  &::after {
    content: "Товар недели";
    position: absolute;
    top: 30px;
    left: 0;
    width: 135px;
    font-size: $font_size_p_mobile;
    text-transform: uppercase;
    color: $color_seafoam_blue;
  }

  @media (min-width: $width_tablet) {
    padding: 0 0 50px;
  }

  @media (min-width: $width_tablet) {
    &::after {
      content: "";
    }
  }
}

.offers__wrapper {
  @media (min-width: $width_tablet) {
    width: 50%;
    padding: 0 40px 0 0;
  }
}

.offers__text {
  margin: 0;
  padding: 0 0 25px;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    padding: 0 0 50px;
    line-height: 1.76;
  }
}

.offers__table {
  display: flex;
  padding: 0 0 30px;

  @media (min-width: $width_tablet) {
    padding: 30px 0 50px;
  }
}

.offers__list {
  @include list;

  font-size: $font_size_p_mobile;
  line-height: $line_height_p_mobile;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  &:first-child {
    padding: 0 30px 0 0;
  }

  @media (min-width: $width_tablet) {
    font-size: 15px;
    line-height: 1.33;
  }
}

.offers__item {
  @media (min-width: $width_tablet) {
    min-height: 25px;
  }
}

.offers__card {
  display: flex;
  justify-content: center;

  @media (min-width: $width_tablet) {
    position: absolute;
    top: 110px;
    right: 50px;
    width: 333px;
    height: 404px;
    background: url("../../img/triple-set-tablet@1x.jpg") no-repeat 0 0;
  }
}

.offers__img {
  @media (min-width: $width_tablet) {
    opacity: 0;
  }
}

.offers__price {
  text-align: center;
  color: $color_greyish_brown;
}
