@import "../base/mixins.scss";
@import "../base/vars.scss";

.offers__inner {
  @include inner();
}

.offers__title {
  margin: 0;
  line-height: 1.2;
  text-align: left;
}

.offers__flag {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.18;
  text-align: left;
  color: $seafoam_blue;
}

.offers__text {
  font-weight: $font_weight_normal;
  line-height: 1.6;
  color: $greyish_brown;
}

.offers__list {
  @include list();

  line-height: 1.33;
  font-weight: $font_weight_normal;
  font-size: $font_size_p_mobile;
  color: $greyish_brown;
}
