@import "../base/mixins.scss";
@import "../base/vars.scss";

.order {
  padding: 0 0 55px;
}

.order__inner {
  @include inner;
}

.order__title {
  margin: 0;
  padding: 75px 0;
  text-align: center;
  background: $color_gray_lightest;

  @media (min-width: $width_tablet) {
    padding: 15px 0 60px;
  }
}

.order__text {
  margin: 0;
  padding: 30px 0;
  font-weight: $font_weight_normal;
}
