@import "../base/mixins.scss";
@import "../base/vars.scss";

.order__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    @include fixed_inner;

    position: relative;
  }

  @media (min-width: $width_desktop) {
    width: 1150px;
    padding: $padding_large;
  }

  &::before {
    @media (min-width: $width_tablet) {
      content: "";
      position: absolute;
      top: -24px;
      left: 0;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
    }
  }
}

.order__title {
  @include heading_h2;

  margin: 0;
  padding: 70px 0;
  font-size: $font_size_h2_mobile_l;
  line-height: $line_height_h2_mobile_s;
  text-align: center;
  background: $color_gray_lightest;

  @media (min-width: $width_tablet) {
    padding: 190px 0 90px;
  }

  @media (min-width: $width_desktop) {
    padding: 190px 0 110px;
  }
}

.order__text {
  @include indent_p;

  margin: 0;
  padding: 25px 0 0;
  font-size: $font_size_p_mobile_s;
  line-height: $line_height_p_mobile_l;
  font-weight: $font_weight_normal;
  color: $color_greyish_brown;

  @media (min-width: $width_tablet) {
    padding: 60px 0 0;
  }

  @media (min-width: $width_desktop) {
    padding: 105px 110px 0 180px;
  }
}
