@import "../base/mixins.scss";
@import "../base/vars.scss";

.order__inner {
  padding: 30px 30px 55px;

  @media (min-width: $width_tablet) {
    padding: 60px 50px;
  }

  @media (min-width: $width_desktop) {
    padding: 100px 110px 50px;
  }
}

.order__title {
  margin: 0;
  padding: 75px 0;
  text-align: center;
  background: $color_gray_lightest;

  @media (min-width: $width_tablet) {
    padding: 15px 0 60px;
  }
}

.order__text {
  margin: 0;
  padding: 0 0 30px;
  font-weight: $font_weight_normal;

  @media (min-width: $width_tablet) {
    padding: 0 0 50px;
  }
}
