@import "../base/mixins.scss";
@import "../base/vars.scss";

.product__price {
  color: $greyish_brown;
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.41;
}

.product__button {
  @include btn();
}
