@import "../base/mixins.scss";
@import "../base/vars.scss";

.production__title {
  line-height: 1.41;
}

.production__caption {
  padding: 0 0 0 30px;
  line-height: 1.85;
  font-weight: $font_weight_normal;
}
