@import "../base/mixins.scss";
@import "../base/vars.scss";

.production__title {
  padding: 0 0 0 90px;
}

.production__wrapper {
  position: relative;
}

.production__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 77px;
  width: 101px;
  border: none;
  background: transparent;
}

.production__video {
  width: 100%;
}

.production__caption {
  margin: 0;
  padding: 30px 30px;
  font-weight: $font_weight_normal;
}
