@import "../base/mixins.scss";
@import "../base/vars.scss";

.production {
  margin: 0 0 60px;
  border: 1px solid $color_gray_lighten;

  &:hover {
    box-shadow: 0 6px 10px 0 $color_black_10;
  }

  &:active {
    box-shadow: 0 6px 10px 0 $color_black_10;
  }

  @media (min-width: $width_desktop) {
    margin: 0 0 105px;
  }
}

.production__inner {
  @include inner;

  @media (min-width: $width_tablet) {
    padding: 0 42px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $width_desktop) {
    max-height: 500px;
    padding: 0;
    flex-wrap: wrap;
  }
}

.production__wrapper-title {
  padding: 26px 0;
  display: flex;

  @media (min-width: $width_tablet) {
    padding: 32px 0 25px;
    align-items: center;
  }

  @media (min-width: $width_desktop) {
    max-width: 370px;
    padding: 47px 0 30px 80px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.production__icon-title {
  margin: 6px 0 0 2px;
  fill: $color_seafoam_blue;

  @media (min-width: $width_tablet) {
    margin: 2px 0;
  }

  @media (min-width: $width_desktop) {
    margin: 0;
  }
}

.production__title {
  @include heading_h3;

  margin: 0 0 0 26px;
  max-width: 130px;

  @media (min-width: $width_tablet) {
    margin: 0 0 0 30px;
    max-width: none;
  }

  @media (min-width: $width_desktop) {
    padding: 20px 0 0;
    max-width: 150px;
    margin: 0;
  }
}

.production__caption {
  @include indent_p;

  margin: 0;
  max-width: 190px;
  padding: 26px 0;
  font-size: $font_size_p_mobile_s;
  line-height: $line_height_p_mobile_l;
  font-weight: $font_weight_normal;

  @media (min-width: $width_tablet) {
    max-width: none;
    padding: 0 0 37px;
    font-size: $font_size_p_mobile;
    line-height: $line_height_p_mobile_xl;
  }

  @media (min-width: $width_desktop) {
    width: auto;
    padding: 0 0 49px 80px;
    max-width: 370px;
  }
}

.production__wrapper {
  position: relative;
  margin: 0 -30px 0;

  @media (min-width: $width_tablet) {
    margin: 0 -42px;
    min-height: 455px;
    background: $color_gray_lightest url("../img/video-tablet@1x.jpg") no-repeat 50% 0;
    background-size: contain;
    order: -1;
  }

  @media (min-width: $width_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: $color_gray_lightest url("../img/video-tablet@2x.jpg") no-repeat 50% 0;
    background-size: contain;
  }

  @media (min-width: $width_desktop) {
    min-width: 682px;
    margin: 0;
    background: $color_gray_lightest url("../img/video-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  @media (min-width: $width_desktop) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: $color_gray_lightest url("../img/video-desktop@2x.jpg") no-repeat 0 0;
    background-size: cover;
  }
}

.production__video {
  width: 100%;

  &[poster] {
    @media (min-width: $width_tablet) {
      visibility: hidden;
    }
  }
}

.production__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 82px;
  width: 115px;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}
