@import "../base/mixins.scss";
@import "../base/vars.scss";

.promo {
  background: $color_gray_lightest url("../img/hero-mobile@1x.jpg") no-repeat center 0;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: $color_gray_lightest url("../img/hero-mobile@2x.jpg") no-repeat center 0;
    background-size: cover;
  }

  @media (min-width: $width_tablet) {
    background: $color_gray_lightest url("../img/hero-tablet@1x.jpg") no-repeat center 88px;
  }

  @media (min-width: $width_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: $color_gray_lightest url("../img/hero-tablet@2x.jpg") no-repeat center 88px;
    background-size: cover;
  }
}

.promo__inner {
  margin: 0 0 35px;

  @media (min-width: $width_tablet) {
    padding: $padding_medium;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.promo__wrapper {
  padding: 70px 35px 60px;
  display: flex;
  justify-content: center;

  @media (min-width: $width_tablet) {
    padding: 240px 0 184px;
  }

  @media (min-width: $width_desktop) {
    padding: 250px 0 175px;
  }
}

.promo__title {
  margin: 0;
  text-align: center;
  flex-basis: 250px;
  color: $color_dark_brown;

  @media (min-width: $width_tablet) {
    flex-basis: 75%;
  }
}

.promo__list {
  padding: 60px 0 0;

  @media (min-width: $width_tablet) {
    display: flex;
    justify-content: space-between;
    padding: 184px 0 0;
  }

  @media (min-width: $width_desktop) {
    padding: 175px 0 0;
  }
}

.promo__link {
  @media (min-width: $width_tablet) {
    flex-basis: 50%;
  }
}

.promo__item {
  position: relative;
  padding: 30px 80px 30px 30px;
  display: flex;
  background: $color_seafoam_blue;

  @media (min-width: $width_tablet) {
    padding: 30px 95px 35px 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background: url("../img/icon-interior.svg") no-repeat 0 0;
    opacity: 0.5;
  }

  &--shade {
    background: $color_greeny_blue;

    &::after {
      top: 21px;
      right: 27px;
      width: 60px;
      height: 60px;
      background: url("../img/icon-toy.svg") no-repeat 0 0;
    }
  }
}

.promo__caption {
  flex-basis: 110px;
  margin: 0;
  color: $color_white;
}
