@import "../base/mixins.scss";
@import "../base/vars.scss";

.search__form {
  margin: 0;
  padding: 0 0 0 40px;
}

.search__input {
  border: none;

  &[type="text"]::placeholder {
    color: $color_black;
    font-size: $font_size_h3_mobile;
    line-height: $line_height_h3_mobile;
    font-weight: $font_weight_bold;
  }
}
