@import "../base/mixins.scss";
@import "../base/vars.scss";

.social {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width_tablet) {
    padding: 54px 0;
    margin: 0 0 0 75px;
  }
}

.social__item {
  padding: 0 40px 0 0;

  &:last-child {
    padding: 0;
  }
}

.social__icon {
  &:hover {
    fill: $color_greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}
