@import "../base/mixins.scss";
@import "../base/vars.scss";

.social {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width_tablet) {
    padding: 11px 0 8px;
    margin: 0 0 0 77px;
  }

  @media (min-width: $width_desktop) {
    padding: 14px 0 8px;
    margin: 0 0 0 77px;
  }
}

.social__item {
  padding: 0 40px 0 0;

  &:last-child {
    padding: 0;
  }
}

.social__link {
  outline: none;

  &:hover {
    fill: $color_greeny_blue;
  }

  &:focus {
    fill: $color_greeny_blue;
  }

  &:active {
    opacity: 0.3;
  }
}
