@import "../base/mixins.scss";
@import "../base/vars.scss";
@import "../base/normalize.scss";

.submenu__link {
  color: $dark;
}

.submenu__item {
  min-height: 79px;
  padding: 30px 0 0 76px;
  text-align: left;
  line-height: $line_height_h3_mobile;
  font-size: $font_size_h3_mobile;
  box-shadow: 0 1px 0 0 $light_gray, inset 0 1px 0 0 $light_gray;
}
