@import "../base/mixins.scss";
@import "../base/vars.scss";

.submenu__link {
  color: $dark;
}

.submenu__item {
  margin: 32px 0 0 0;
  padding: 0 0 0 46px;
  text-align: left;
  line-height: 1.41;
  font-size: 1.9rem;
}
