@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";

  src: url("../../fonts/opensans.woff") format("woff"),
  url("../../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";

  src: url("../../fonts/opensansbold.woff") format("woff"),
    url("../../fonts/opensansbold.woff2") format("woff2");
}
