html {
  box-sizing: border-box;
  font-size: $font_size_base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  color: $dark;

  background-color: $white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
