html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-weight: $font-weight-bold;
  font-size: 1.7rem;
  line-height: $line-height;

  letter-spacing: normal;
  font-stretch: normal;
  font-family: $font-family;
  color: $dark;

  background-color: $color-main;
}

a {
  text-decoration: none;
}
