@mixin inner() {
  width: 320px;
  margin: 0 auto;
}

@mixin fixed_inner() {
  width: 100%;
  margin: 0 auto;
}

@mixin list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin btn() {
  display: block;
  width: 100%;
  min-height: 52px;
  padding: 14px 0;

  text-align: center;
  font-size: 1.9rem;
  line-height: 0.94;
  font-weight: $font_weight_bold;
  text-transform: uppercase;
  color: $greyish_brown;

  border: solid 2px $greyish-brown;
  background: $white;
}

@mixin visually_hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
