@import "vars";

body {
  font-weight: $font_weight_bold;
  font-size: $font_size_base;
  line-height: $line_height;
  font-family: $font_family_base, $font_family_extra;
  color: $color_black;
}

h1 {
  font-size: $font_size_h1_mobile;
  line-height: $line_height_h1_mobile;

  @media (min-width: $width_tablet) {
    font-size: $font_size_h1_tablet;
    line-height: $line_height_h1_tablet;
  }

  @media (min-width: $width_desktop) {
    font-size: $font_size_h1_desktop;
    line-height: $line_height_h1_desktop;
  }
}

h2 {
  font-size: $font_size_h2_mobile;
  line-height: $line_height_h2_mobile;

  @media (min-width: $width_tablet) {
    font-size: $font_size_h2_tablet;
    line-height: $line_height_h2_tablet;
  }

  @media (min-width: $width_desktop) {
    font-size: $font_size_h2_desktop;
    line-height: $line_height_h2_desktop;
  }
}

h3 {
  font-size: $font_size_h3_mobile;
  line-height: $line_height_h3_mobile;

  @media (min-width: $width_tablet) {
    font-size: $font_size_h3_tablet;
    line-height: $line_height_h3_tablet;
  }

  @media (min-width: $width_desktop) {
    font-size: $font_size_h3_desktop;
    line-height: $line_height_h3_desktop;
  }
}

p {
  font-size: $font_size_p_mobile;
  line-height: $line_height_p_mobile;

  @media (min-width: $width_tablet) {
    font-size: $font_size_p_tablet;
    line-height: $line_height_p_tablet;
  }

  @media (min-width: $width_desktop) {
    font-size: $font_size_p_desktop;
    line-height: $line_height_p_desktop;
  }
}

a {
  text-decoration: none;
}
