// Цвета

$white: #ffffff;
$seashell: #f1f1f1;

$dark: #000000;
$very_dark_brown: #010000;
$greyish_brown: #444444;
$greyish-brown-30: rgba(68, 68, 68, 0.3);

$blue_green: #149080;
$greeny_blue: #56c3b2;
$seafoam_blue: #63d1bb;

// Шрифты

$font_size_base: 9px;
$font_size_h1: 3.5rem;
$font_size_h2: 3rem;
$font_size_h3: 2rem;
$font_size_p: 1.7rem;
$font_weight_normal: 400;
$font_weight_bold: 700;
$font_family_base: "Open Sans";
$font_family_extra: "Tahoma", sans-serif;
$line_height: 1.37;
