// Цвета

$color_white: #ffffff;
$color_white_15: rgba(255, 255, 255, 0.15);

$color_black_lighten_25: rgba(0, 0, 0, 0.25);
$color_black_light: #010000;
$color_black: #000000;
$color_black_60: rgba(0, 0, 0, 0.6);
$color_black_30: rgba(0, 0, 0, 0.3);

$color_gray_lightest: #f1f1f1;
$color_gray_lighten: #ececec;
$color_gray_light: #c6c6c6;
$color_gray_dark: #666666;
$color_gray_darken: #222222;
$color_gray_darkest: #111111;

$color_bg_header: #f9f9f9;
$color_greyish_brown: #444444;
$color_greyish_brown_10: rgba(68, 68, 68, 0.1);
$color_greyish_brown_30: rgba(68, 68, 68, 0.3);
$color_dark_brown: #010000;

$color_seafoam_blue: #62d1bb;
$color_greeny_blue: #46c1ae;
$color_greeny_blue_30: rgba(71, 193, 175, 0.3);
$color_aqua_marine: #56c3b2;
$color_blue_green: #149080;

$color_leaf: #68b738;

// Шрифты

$font_size_base: 10px;

$font_size_h1_mobile: 30px;
$font_size_h2_mobile: 25px;
$font_size_h3_mobile: 17px;
$font_size_p_mobile: 16px;

$font_size_h1_tablet: 45px;
$font_size_h2_tablet: 43px;
$font_size_h3_tablet: 20px;
$font_size_p_tablet: 18px;

$font_size_h1_desktop: 55px;
$font_size_h2_desktop: 53px;
$font_size_h3_desktop: 20px;
$font_size_p_desktop: 18px;

$line_height_h1_mobile: 1.3;
$line_height_h2_mobile: 1.2;
$line_height_h3_mobile: 1.23;
$line_height_p_mobile: 1.7;

$line_height_h1_tablet: 1.3;
$line_height_h2_tablet: 1.2;
$line_height_h3_tablet: 1.25;
$line_height_p_tablet: 1.37;

$line_height_h1_desktop: 1.3;
$line_height_h2_desktop: 1.1;
$line_height_h3_desktop: 1.25;
$line_height_p_desktop: 1.37;

$font_weight_normal: 400;
$font_weight_bold: 700;
$font_family_base: "Open Sans";
$font_family_extra: "Tahoma", sans-serif;
$line_height: 1.37;

//  Отступы

$padding_small: 0 30px;
$padding_medium: 0 50px;
$padding_large: 0 45px;

// Значения вьюпортов

$width_tablet: 768px;
$width_desktop: 1140px;
$width_mobile_only: 767px;

// Ретинизация

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
